@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./variables.scss";

@import "./utils.scss";

@import "./pages/home.scss";
@import "./pages/auth.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

@for $i from 1 through 5 {
    h#{$i} {
        margin: 0;
        font-family: $header-font;
    }
}

p {
    margin: 0;
    font-family: $paragraph-font;
}
